* {
    margin: 0;
    padding: 0;
    position: relative;
}

h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #1096ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}

h2::after {
    content: "TOP";
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -15px;
    right: -29px;
}

h3 {
    font-size: 30px;
    margin: 30px 0;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 15px;
}

li {
    font-size: 20px;
    padding: 10px 0px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

ul,
ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

#author {
    font-size: 16px;
}

#copyright {
    font-size: 15px;
}

.Author-name {
    font-size: 20px;
    font-weight: bold;
}

.related {
    list-style: none;
}

.main-header {
    color: #1096ad;
    background-color: #f7f7f7;
    padding: 20px 40px;
    margin-bottom: 60px;
}

.post-header {
    margin-bottom: 40px;
}

aside {
    color: #020101;
    border-top: 5px solid #1096ad;
    border-bottom: 5px solid #1096ad;
    padding: 20px 0;
    width: 500px;
}

a {
    color: #1096ad;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.post-image {
    width: 100%;
    height: auto;
}

button {
    font-size: 20px;
    padding: 20px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}